<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Corinths Plight{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Adding a favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('my_units') }}">My Units</a></li>
                <li><a href="{{ url_for('legion_directory') }}">Legion Directory</a></li>
                {% if current_user.is_authenticated %}
                {% if current_user.user_legions %}
                    <li><a href="{{ url_for('legion_dashboard', legion_id=current_user.user_legions[0].legion_id) }}">My Legion</a></li>
                {% else %}
                    <li>No Legion Found</li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login_signup') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alerts">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p>&copy; {{ current_year }} Qnetica. All rights reserved.</p>
    </footer>
    <script>
        // Set the current year in the footer dynamically
        document.querySelector('footer p').textContent = `© ${new Date().getFullYear()} Qnetica. All rights reserved.`;
    </script>
</body>
</html>
