{% extends 'layout.html' %}

{% block title %}Legion Dashboard{% endblock %}

{% block content %}
<style>
    body {
        background: #081221 url('{{ url_for("static", filename="img/strategy.gif") }}') repeat fixed center;
        background-size: cover;
    }

</style>
<script src="{{ url_for('static', filename='js/all.min.js') }}"></script>


<div class="legion-dashboard-container">
    <div class="header-secion">
        <div class="legion-logo">
            <img src="https://armoria.herokuapp.com/?size=500&format=png&coa={{ legion.coa_string }}" alt="Legion Emblem" style="width: 100px; height: 100px;">
        </div>
        {% if current_user_legion.role == 'leader' %}
            <i class="fas fa-edit edit-icon" onclick="toggleEdit('coa-form')"></i>
            <div id="coa-form" class="hidden">
                <form action="{{ url_for('update_legion_coa', legion_id=legion.id) }}" method="post">
                    <input type="text" name="coa_string" placeholder="Enter new COA string" required>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit">Update</button>
                </form>
            </div>
        {% endif %}
        <div class ="legion-name">
            <h1>{{ legion.name }}
                {% if current_user_legion.role == 'leader' %}
                <i class="fas fa-edit edit-icon" onclick="toggleEdit('name-form')"></i>
                <div id="name-form" class="hidden">
                    <form action="{{ url_for('update_legion_name', legion_id=legion.id) }}" method="post">
                        <input type="text" name="name" value="{{ legion.name }}" required>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit">Update</button>
                    </form>
                </div>
                {% endif %}
            </h1>
        </div>
        {% if current_user_legion.role == 'leader' %}
        <div class="legion-description">
            <button onclick="togglePublicStatus()">{{ 'Make Private' if legion.is_public else 'Make Public' }}</button>
            <div id="invite-code" class="{{'hidden' if not legion.is_public}}">
                Invite Code: {{ legion.invite_code }}
                <button onclick="regenerateCode()">Regenerate Code</button>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="legion-description">
        <p>Members: {{ legion.legion_members|length }}</p>
        <p>Total Units: {{ total_units }}</p>
        <p>{{ legion.description }}
            {% if current_user_legion.role == 'leader' %}
            <i class="fas fa-edit edit-icon" onclick="toggleEdit('desc-form')"></i>
            <div id="desc-form" class="hidden">
                <form action="{{ url_for('update_legion_description', legion_id=legion.id) }}" method="post">
                    <textarea name="description" rows="4" required>{{ legion.description }}</textarea>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit">Update</button>
                </form>
                </div>
            {% endif %}
        </p>
    </div>
    </div>
    <div class="section">
        <h2 class="section-header">Leaders</h2>
        {% for member_link in legion.legion_members if member_link.role == 'leader' %}
        <div class="leader" onclick="toggleUnits('units-{{ member_link.user.id }}')">
            {{ member_link.user.username }}
            <div id="units-{{ member_link.user.id }}" class="units-collapse">
                {% for unit in member_link.user.user_units %}
                <div class="unit-info">
                    <strong>{{ unit.custom_name }} - Type: {{ unit.template.unit_type }}</strong><br>
                    <i class="fas fa-shield-alt"></i><span class="icon-text">Armor: {{ unit.armor }}</span>
                    <i class="fas fa-tachometer-alt"></i><span class="icon-text">Speed: {{ unit.speed }}</span>
                    <i class="fas fa-ruler-horizontal"></i><span class="icon-text">Range: {{ unit.range }}</span>
                    <i class="fas fa-fighter-jet"></i><span class="icon-text">FS: {{ unit.fs }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="section">
        <h2 class="section-header">Members</h2>
        {% for member_link in legion.legion_members if member_link.role == 'member' %}
        <div class="member" onclick="toggleUnits('units-{{ member_link.user.id }}')">
            {{ member_link.user.username }}
            <div id="units-{{ member_link.user.id }}" class="units-collapse">
                {% for unit in member_link.user.user_units %}
                <div class="unit-info">
                    <strong>{{ unit.custom_name }} - Type: {{ unit.template.unit_type }}</strong><br>
                    <i class="fas fa-shield-alt"></i><span class="icon-text">  Armor: {{ unit.armor }}</span>
                    <i class="fas fa-tachometer-alt"></i><span class="icon-text">  Speed: {{ unit.speed }}</span>
                    <i class="fas fa-ruler-horizontal"></i><span class="icon-text">  Range: {{ unit.range }}</span>
                    <i class="fas fa-fighter-jet"></i><span class="icon-text">  FS: {{ unit.fs }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
function toggleUnits(id) {
    var element = document.getElementById(id);
    if (element.style.display === 'block') {
        element.style.display = 'none';
    } else {
        element.style.display = 'block';
    }
}
function toggleEdit(formId) {
    var form = document.getElementById(formId);
    if (form.style.display === 'none' || form.style.display === '') {
        form.style.display = 'block';
    } else {
        form.style.display = 'none';
    }
}

function togglePublicStatus() {
        fetch('{{ url_for("toggle_public_status", legion_id=legion.id) }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}'
            }
        }).then(response => response.json())
          .then(data => {
            alert(data.message);
            if (data.success) {
                window.location.reload();
            }
          });
    }

    function regenerateCode() {
        fetch('{{ url_for("regenerate_invite_code", legion_id=legion.id) }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}'
            }
        }).then(response => response.json())
          .then(data => {
            if (data.success) {
                document.getElementById('invite-code').textContent = 'Invite Code: ' + data.new_code;
            } else {
                alert(data.message);
            }
          });
    }
</script>
{% endblock %}
