{% extends 'layout.html' %}

{% block title %}My Units{% endblock %}

{% block content %}
<h1>My Units</h1>
<ul>
    {% for unit in units %}
        <li>
            <strong>{{ unit.custom_name }} - {{ unit.template.unit_type }}</strong><br>
            Description: {{ unit.template.description }}<br>
            Fire Support (FS): {{ unit.fs }} | Armor: {{ unit.armor }} | Speed: {{ unit.speed }} | Range: {{ unit.range }}<br>
            Special Rules: {{ unit.template.special_rules }}<br>
            Upgrades: {{ unit.applied_upgrades }}<br>
            Created At: {{ unit.created_at.strftime('%Y-%m-%d %H:%M') }}
        </li>
    {% else %}
        <li>No units found.</li>
    {% endfor %}
</ul>
{% endblock %}